.movie-details-container {
  padding: 10px;
  font-size: 24px;
}

.movie-details-card {
  padding: 10px;
}

.goback-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.goback-container h3 {
  margin-left: 3px;
  font-size: 0.75em;
  letter-spacing: -0.015em;
}

.goback-container svg {
  margin-left: 5px;
  transform: rotate(-180deg);
  width: 35px;
  height: 17px;
}

.movie-img-container {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.276);
  padding: 10px;
}

.movie-img-container img {
  width: 80%;
  border-radius: 10px;
}

.movie-name-container {
  border-bottom: 1px solid grey;
  padding-left: 10px;
}

.movie-name-container h1 {
  font-size: 1em;
  margin-bottom: 5px;
  letter-spacing: -0.015em;
}

.movie-board-container {
  margin-top: 5px;
}

.movie-stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.movie-stars span {
  font-size: 12px;
  padding: 0 8px;
  margin-left: 3px;
  color: #c3c3c3;
}

.movie-board-container h4 {
  margin-top: 20px;
  letter-spacing: -0.015em;
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-left: 10px;
}

.movie-sinopse p {
  margin-top: 20px;
  font-size: 0.6em;
  margin-left: 10px;
}

.movie-board {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
}

.movie-board div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.movie-board h5 {
  font-size: 0.8em;
}

.movie-board p {
  font-size: 0.74em;
  border-bottom: 0.5px solid grey;
  padding-bottom: 10px;
}

.space {
  border: 0.2px solid rgba(128, 128, 128, 0.414);
  margin-top: 20px;
}

.btn-list-container {
  text-align: center;
  margin: 20px 0;
}

.btn-list {
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.651);
}

.btn-list:hover {
  border: 1px solid rgb(147, 147, 147);
}

@media (min-width: 576px) {
  .movie-img-container img {
    width: 400px;
  }

  .movie-details-card {
    padding: 20px;
  }

  .movie-details-container {
    padding: 20px;
  }

  .movie-img-container {
    margin: 0 20px 30px 20px;
  }

  .btn-list {
    width: 360px;
  }
}

@media (min-width: 792px) {
 
  .movie-details-container {
    padding: 35px;
  }

  .movie-sinopse p {
    font-size: 0.8em;
  }

  .movie-img-container {
    margin: 0 50px 60px 50px;
  }

  .movie-name-container {
    padding-left: 20px;
  }

  .movie-stars {
    padding-left: 8px;
  }

  .movie-name-container h1 {
    font-size: 1.6em;
  }

  .movie-board-container h4 {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .movie-details-card {
    padding-right: 45px;
  }
}
