.movie-available-container {
  border: 3px solid rgba(128, 128, 128, 0.776);
  margin: 0 10px;
}

.movie-available-container h4 {
  letter-spacing: -0.015em;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid rgba(128, 128, 128, 0.776);
}

.movie-available-container ul {
  padding: 0;
  text-align: center;
}

.movie-available-container li {
  list-style-type: none;
  font-size: 0.8em;
  padding: 7px 0 0 5px;
  text-align: left;
  padding-left: 25px;
  letter-spacing: -0.015em;
  justify-content: space-around;
  border-top: 1px solid rgba(128, 128, 128, 0.776);
  margin-bottom: 5px;
}

@media(min-width: 410px) {
  .movie-available-container {
    margin: 0 45px 20px 45px;
  }
}

@media (min-width: 576px) {
  .movie-available-container {
    margin: 0 50px 30px 50px;
  }
}

@media (min-width: 610px) {
  .movie-available-container {
    margin: 0 75px 30px 75px;
  }
}

@media (min-width: 745px) {
  .movie-available-container {
    margin: 0 90px 30px 90px;
  }
}

@media (min-width: 798px) {
  .movie-available-container {
    margin: 0 120px 30px 120px;
  }
}

@media (min-width: 950px) {
  .movie-available-container {
    margin: 0 160px 30px 160px;
  }
}