.movie-form-card {
  margin: 8px;
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  border: 1px solid grey;
}

.movie-form-top-container {
  text-align: center;
  padding: 16px 10px 16px 0;
  border-right: 1px solid #787878;
}

.movie-form-top-container img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.movie-form-bottom-title {
  display: flex;
  flex-direction: column;
  padding: 15px 5px 0 10px;
}

.movie-form-bottom-title h6 {
  margin-bottom: 10px;
  font-size: 18px;
}


@media (min-width: 576px) {
  .movie-form-card {
    margin: 15px;
  }

  .movie-form-top-container {
    padding: 10px 20px 10px 10px;
  }

  .movie-form-top-container img {
    width: 115px;
  }

  .movie-form-bottom-title {
    padding-left: 20px;
  }

  .movie-form-bottom-available {
    width: 130px;
  }

  .movie-form-bottom-title h6 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .movie-form-card {
    margin: 0 15px 10px 0;
  }

  .movie-form-top-container {
    padding: 0 20px 0 10px;
  }

  .movie-form-top-container img {
    width: 100px;
    height: auto;
  }

  .movie-form-card {
    padding: 10px;
  }

}
