.profile-container {
  font-size: 24px;
}

.btn-follow {
    margin-top: 15px;
    text-align: center;
    width: 30vh;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.44);
    border: 1px solid rgba(255, 255, 255, 0.257);
}

.profile-image-container {
  width: 100%;
  text-align: center;
}

.profile-view-image-background {
  height: 150px;
  border: solid black;
  background-image: url('https://i.pinimg.com/564x/de/b9/e8/deb9e862621d6f99148442b3f69ad42a.jpg')
}

.profile-image-photo img {
  position: absolute;
  top: 20%;
  left: 15vh;
  border-radius: 50%;
  width: 130px;
  height: 110px;
  border: solid black;
  z-index: 1;
}

.profile-content {
  padding: 40px 10px 0 10px;
}

.profile-view-details {
  display: block;
  text-align: center;
}

.profile-view-details h1 {
  font-size: 0.94em;
}

.profile-user h4 {
  font-size: 0.65em;
}

.profile-user p {
  font-size: 0.6em;
}

.profile-user {
  color: rgba(187, 187, 187, 0.721);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.profile-view-follow {
  display: flex;
  justify-content: center;
}

.profile-view-bottom-content {
  padding: 10px;
  margin-top: 20px;
}

.profile-view-bottom-content h3 {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  text-align: center;
}

.profile-scores {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .profile-view-details {
    text-align: start;
    margin-left: 95px;
  }

  .profile-user {
    justify-content: flex-start;
  }

  .profile-view-details h1 {
    font-size: 1.1em;
  }

  .profile-user p {
    margin-left: 15px;
  }

  .profile-view-bottom-content h3 {
    font-size: 1.1em;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .profile-view-bottom-content {
    padding-left: 20px;
    margin-top: 65px;
  }

  .profile-view-comment {
    border-right: 1px solid rgba(128, 128, 128, 0.518);
    padding-right: 20px;
  }

  .profile-scores {
    margin-top: 35px;
    padding-left: 10px;
  }

  .profile-view-bottom-content h3 {
    text-align: start;
    padding-left: 20px;
    margin-right: 25px;
  }

  .profile-view-follow {
    margin-right: 30px;
    position: absolute;
    right: 50%;
    top: 35%;
  }

  .btn-follow {
    position: absolute;
    right: 2%;
    top: 36%;
  }
}
