.list-title-container {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid grey;
}

.list-movies {
  background-color: #0e12143c;
  margin: 20px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 1px solid grey;
}

.list-container {
  padding: 10px;
  font-size: 24px;
}

.list-card {
  padding: 10px;
  border-radius: 20px;
}

.btn-list:hover {
  background-color: #0e1214;
}

@media (min-width: 576px) {
  .list-container {
    padding: 30px;
  }

  .list-card {
    padding: 20px;
  }

  .list-title-container {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 792px) {

  .list-movies {
    padding-bottom: 15px;
  }

  .list-container {
    padding: 40px;
  }

  .list-card {
    padding: 30px;
  }
}
